# ETL de datos de importaci√≥n de productos

In [7]:
import pandas as pd
from sqlalchemy import create_engine

## Extraction

In [11]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp38-cp38-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.9-cp38-cp38-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 163.8 kB/s eta 0:00:07
   - -------------------------------------- 0.0/1.2 MB 178.6 kB/s eta 0:00:07
   --- ------------------------------------ 0.1/1.2 MB 374.1 kB/s eta 0:00:03
   ---------- ----------------------------- 0.3/1.2 MB 1.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.5/1.2 MB 1.5 MB/s eta 0:00:01
   ------------------------- -------------- 0.7/1.2 MB 2.0 MB/s eta 0:00:01
   ------------------------------- -------- 0.9/1.2 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 2.4 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [13]:
# Conecto con mi base de datos postgresql
engine = create_engine('postgresql+psycopg2://postgres:mysecretpass@localhost/postgres')
# Creo un dataframe pandas con el resultado de mi consulta SQL
df_trades = pd.read_sql("select * from trades", engine)

In [14]:
df_trades.head()

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name
0,ALB,2003,900691,Import,144.0,2.0,2.0,Weight in kilograms
1,ALB,2003,900699,Import,200546.0,2602.0,2602.0,Weight in kilograms
2,ALB,2003,900791,Import,15851.0,31.0,31.0,Weight in kilograms
3,ALB,2003,900792,Import,59913.0,2990.0,2990.0,Weight in kilograms
4,ALB,2003,900890,Import,38784.0,2124.0,2124.0,Weight in kilograms

In [15]:
df_countries = pd.read_json("src/country-data.json")
df_countries.sample(5)

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
250,Norfolk Island,None,None,NF,NFK,574.0,ISO 3166-2:NF,Oceania,Australia and New Zealand,None,9.0,53.0,NaN
104,Malawi,Flag_of_Malawi.svg,https://upload.wikimedia.org/wikipedia/commons...,MW,MWI,454.0,ISO 3166-2:MW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
77,Iran,Flag_of_Iran.svg,https://upload.wikimedia.org/wikipedia/commons...,IR,IRN,364.0,ISO 3166-2:IR,Asia,Southern Asia,None,142.0,34.0,NaN
126,Nicaragua,Flag_of_Nicaragua.svg,https://upload.wikimedia.org/wikipedia/commons...,NI,NIC,558.0,ISO 3166-2:NI,Americas,Latin America and the Caribbean,Central America,19.0,419.0,13.0
142,Romania,Flag_of_Romania.svg,https://upload.wikimedia.org/wikipedia/commons...,RO,ROU,642.0,ISO 3166-2:RO,Europe,Eastern Europe,None,150.0,151.0,NaN

In [17]:
df_codes = pd.read_csv("src/hs-codes.csv")
df_codes.tail()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100¬†years,Antiques of > 100 years old

In [18]:
df_parents = df_codes[df_codes.Level==2].copy()
df_parents.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
52,1654607,2,20021000090,1.001100e+10,2,I,CHAPTER¬†2 - MEAT AND EDIBLE MEAT OFFAL,MEAT AND EDIBLE MEAT OFFAL
140,1654695,2,30021000090,1.001100e+10,3,I,"CHAPTER¬†3 - FISH AND CRUSTACEANS, MOLLUSCS AND...","FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT..."
416,1654971,2,40021000090,1.001100e+10,4,I,CHAPTER¬†4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463,1655018,2,50021000090,1.001100e+10,5,I,"CHAPTER¬†5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...","PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI..."

## Transform

In [21]:
df_codes = df_codes[df_codes["Code_comm"].notnull()]
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding)

In [22]:
def clean_code(text):
    text = str(text)
    parent_code = None
    if len(text) == 11:
        code = text[:5]
        parent_code = text[:1]
    else:
        code = text[:6]
        parent_code = text[:2]
    try:
        parent = df_parents[df_parents["Code_comm"]==parent_code]["Description"].values[0]
    except:
        parent = None
    return code, parent_code

In [23]:
df_codes[["clean_code","parent_description"]] = df_codes.apply(lambda x : clean_code(x["Code"]), axis=1, result_type="expand")

In [24]:
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,1
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,1
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,1
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,1
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,1

In [26]:
df_codes = df_codes[df_codes.clean_code.notnull()][["clean_code","Description","parent_description"]]
df_codes.head()

  clean_code                                 Description parent_description
1      10011               LIVE ANIMALS; ANIMAL PRODUCTS                  1
2      10021                                LIVE ANIMALS                  1
3      10100       Live horses, asses, mules and hinnies                  1
5      10121                   Pure-bred breeding horses                  1
6      10129  Live horses (excl. pure-bred for breeding)                  1